<h1>Relationship</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            <label>
                Select Source
            </label>
        </div>
        <div class="col-md-2">
            <label>
                Select Join Columns
            </label>
        </div>
        <div class="col-md-2">
            <label>
                Select Target
            </label>
        </div>
        <div class="col-md-2">
            <label>
                Select Join Columns
            </label>
        </div>
        <div class="col-sm-2">
            <label>Select Action on Columns</label>
        </div>
    </div>
    <div class="row" ng-repeat="rel in relationsData">
        <div class="col-md-2">
            <select id="selSource" class="form-control col-xs-4" ng-model="rel.selSource">
                <option>Select</option>
                <option ng-repeat="item in relationSource" value="{{item.source}}">
                    {{item.source}}
                </option>
            </select>
        </div>
        <div class="col-sm-2">
            <select id="selSource" class="form-control col-xs-4" ng-model="rel.joinSource">
                <option>Select Column</option>
                <option ng-repeat="item in sourceFile1" value="{{item.name}}">
                    {{item.name}}
                </option>
            </select>
        </div>
        <!--<div class="col-sm-2">
            <label>Type of Join</label>
            <select id="typeofJoin" class="form-control col-xs-4" ng-model="typeofJoin">
                <option>Select</option>
                <option value="Inner">Inner</option>
                <option value="Outer">Outer</option>
            </select>
        </div>-->
        <div class="col-md-2">
            <select id="selSource" class="form-control col-xs-4" ng-model="rel.selTarget">
                <option>Select</option>
                <option ng-repeat="item in relationTarget" value="{{item.source}}">
                    {{item.source}}
                </option>
            </select>
        </div>
        <div class="col-sm-2">
            <select id="target" class="form-control col-xs-4" ng-model="rel.joinTarget">
                <option>Select Column</option>
                <option ng-repeat="item in targetFile1" value="{{item.name}}">
                    {{item.name}}
                </option>
            </select>
        </div>
        <div class="col-sm-2">
            <label ng-hide="{{ 1==1 }}">Select Action on Columns</label>
            <button type="button" class="btn-primary btn"
                    ng-click="addRelation()">
                Add
            </button>
            <button type="button"
                    class="btn-primary btn"
                    ng-click="removeRelation($index)">
                Remove
            </button>
        </div>
        <br /><br /><br /><br />
    </div>
    <div class="row">

    </div>
</div>

<br /><br /><br />
<h1>List</h1>
<div class="col-md-6">
    <button type="button" class="btn btn-primary" ng-click="showJSON()">
        Generate JSON
    </button>
    <!--<textarea id="txtFinal" ng-model="txtFinal"></textarea>-->
</div>
<br /><br /><br />
<div class="col-md-12">
    <div class="row simpleDemo">
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Source : {{ sourceFileName1 }}
                    </h3>
                </div>
                <div class="panel-body">
                    <ul dnd-list="sourceFile1">
                        <li ng-repeat="item in sourceFile1"
                            dnd-draggable="item"
                            dnd-moved="sourceFile1.splice($index, 1)"
                            dnd-effect-allowed="copy"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}">
                            Name: {{item.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Target : {{ targetFileName1 }}
                    </h3>
                </div>
                <div class="panel-body">
                    <ul dnd-list="targetFile1">
                        <li ng-repeat="item in targetFile1"
                            dnd-draggable="item"
                            dnd-moved="targetFile1.splice($index, 1)"
                            dnd-effect-allowed="copy"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}">
                            Name: {{item.name}}


                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--<div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Source : {{ sourceFileName2 }}
                    </h3>
                </div>
                <div class="panel-body">
                    <ul dnd-list="sourceFile2">
                        <li ng-repeat="item in sourceFile2"
                            dnd-draggable="item"
                            dnd-moved="sourceFile2.splice($index, 1)"
                            dnd-effect-allowed="copy"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}">
                            Name: {{item.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Target : {{ targetFileName2 }}
                    </h3>
                </div>
                <div class="panel-body">
                    <ul dnd-list="targetFile2">
                        <li ng-repeat="item in targetFile2"
                            dnd-draggable="item"
                            dnd-moved="targetFile2.splice($index, 1)"
                            dnd-effect-allowed="copy"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}">
                            Name: {{item.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->
    </div>
    <div class="row simpleDemo">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Final Source
                    </h3>
                </div>
                <div class="panel-body">
                    <ul dnd-list="finalSource">
                        <li ng-repeat="item in finalSource"
                            dnd-draggable="item"
                            dnd-effect-allowed="copy"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}">
                            Name: {{item.name}} ({{ item.fileName }})
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row simpleDemo">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Final Target
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul dnd-list="finalTarget">
                            <li ng-repeat="item in finalTarget"
                                dnd-draggable="item"
                                dnd-effect-allowed="copy"
                                dnd-selected="models.selected = item"
                                ng-class="{'selected': models.selected === item}">
                                =
                                >

                                Name: {{item.name}} ({{ item.fileName }})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
